@using Microsoft.AspNetCore.Mvc.Rendering
@model IEnumerable<Core.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Firstname)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Lastname)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Email)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Active)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.Role)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.BigNumber)
        </th>
        <th>
            @HtmlHelperDisplayNameExtensions.DisplayNameFor(Html, model => model.StudentNumber)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BigNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> | *@
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
            </td>
        </tr>
    }
    </tbody>
</table>